
.AccordionMenu {
 	position:relative;
 	margin:0px auto;
 	min-width: 10px;
	max-width:990px; 
 	z-index:1;
 	margin-left:5px; 
 	cursor: pointer;
 	font-size: 11px;
 	margin-top: 3px;
}
.AccordionMenu .AccordionMenuContent,
.AccordionMenu .AccordionMenuTop,
.AccordionMenu .AccordionMenuBottom,
.AccordionMenu .AccordionMenuBottom div {
 	background:transparent url(AccordionMenuBg.png) no-repeat top right;
 	_background-image:url(AccordionMenuBg.gif);
}
.AccordionMenu .AccordionMenuContent {
 	position:relative;
 	zoom:1;
 	_overflow-y:hidden;
 	padding:5px 10px 2px 5px;
}
.AccordionMenu .AccordionMenuTop {
	position:absolute;
 	left:0px;
 	top:0px;
 	width:5px; 
 	margin-left:-5px;
 	height:100%;
 	_height:990px; 
 	background-position:top left;
}
.AccordionMenu .AccordionMenuBottom,
.AccordionMenu .AccordionMenuBottom div {
 	height:7px; 
 	font-size:1px;
}
.AccordionMenu .AccordionMenuBottom {
 	background-position:bottom right;
 	position:relative;
 	width:100%;
 	clear: both;
 	margin-left: 0px;
 	margin-right: 0px;
 	padding: 0;
	display: table;
}
.AccordionMenu .AccordionMenuBottom div {
 	position:relative;
 	width:5px;
 	margin-left:-5px;
 	background-position:bottom left;
}
.AccordionMenuSub li {
	margin: 3px 0 3px 15px;	
	padding: 0;
}
.AccordionMenuSub {
	list-style-position: outside;
	list-style-type: disc;
	cursor: pointer;
	margin: 0 0 0 15px;
	padding: 0;
	font-size: 11px;
	color: #6ea36e;
}
.AccordionMenuSubItemActive {
	font-weight: bold;	
}
